.container {
    width: 90%;
    margin: 0px auto;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 35px;
}

.form {
    width: 80%;
    margin: 40px auto;
}

.area {
    margin-top: 40px;
}

.textArea {
    margin-top: 40px;
    text-align: center;
}

.link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    color: #4da3ff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.link:hover {
    color: #87c7ff;
}